

<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="header__inner">
					<h1 class="header__title">
						{{type.namePlural | lower | capitalize}}
					</h1>
					<h5 class="header__text">
						Showing {{pagination.total}} {{type.namePlural | lower}} currently
					</h5>
					
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="section__inner">

					<!-- Controls -->
					<div class="row">

						{% if type.search.field %}
						<form method="get" class="col-md-6">
							<div class="row">
								<div class="col-md-8">
								<label>
								Search
								</label>
								<input type="text" name="search" placeholder="{{type.search.field}}">
								</div>
								<div class="col-md-4">
								<label>
								&nbsp;
								</label>
								<input type="submit" value="Search {{type.namePlural | lower}}">
								</div>
							</div>
						</form>
						{% endif %}
						<div class="col-md-2">
							<button class="header__button" data-toggle="modal" data-target=".bs-example-modal-sm">
								Add {{type.name | lower}}
							</button>
						</div>
					</div>

					<hr>
					<!-- Controls END -->
					
					<!-- Table -->
					<div class="table">
						
						<div class="table__row table__row--header">

							{% if type.table %}
								{% for row in type.table %}
									<div class="table__cell {% if row.align %}table__cell--align-right{% endif %}">
										{{row.name}}
									</div>
								{% endfor %}
							{% else %}
							<div class="table__cell">
								ID
							</div>
							<div class="table__cell table__cell--align-right">
								Date Created
							</div>
							{% endif %}
						</div>
						{% if type.table %}
							{% for page in pages %}
								<a class="table__row" href="{{paths.backend}}{{type.slug}}/{{page._id}}">
									{% for row in type.table %}
										{% if page[row.field] %}
											<div class="table__cell {% if row.align %}table__cell--align-right{% endif %}">
											{{row | dump | safe}}
											{% if row.type == Date %}
												{{page[row.field]}}
											{% else %}
												{{page[row.field] | renderDate}}
											{% endif %}
											</div>
										{% else %}
											<div class="table__cell {% if row.align %}table__cell--align-right{% endif %}"">
											&nbsp;
											</div>
										{% endif %}
									{% endfor %}
								</a>
							{% endfor %}
						{% else %}
							{% for page in pages %}
							<a class="table__row" href="{{type.slug | removeSlash}}/{{page._id}}">
								<div class="table__cell">
									{{page._id}}
								</div>
								<div class="table__cell table__cell--align-right" title="{{page.dateCreated | format('dddd, MMMM Do YYYY, h:mm:ss a')}}">
									{{page.dateCreated | renderDate}}
								</div>
							</a>
							{% else %}
							<blockquote class="section__message center">
								No {{typeNamePlural}} exist. <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Create one now.</a>
							</blockquote>
							{% endfor %}
						{% endif %}
					</div>
					<!-- Table END -->

					{% include "partials/pagination.html" %}

				</div>
			</div>

		</div>
	</div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h3>
      Create page
      </h3>
      <form id="addPage" class="form-row" method="post">
      	{% if type.fields %}
						{% for field in type.fields %}
						{{field | dump | safe}}
							{% if field.name != 'dateCreated' %}
							{% include 'partials/form/' + field.type + '.html' %}
							{% endif %}
						{% endfor %}
						<div class="col-4">
							<input type="submit" value="Create {{typeName}}">
						</div>
				{% else %}
				<blockquote class="section__message">
					No Fields present
				</blockquote>
				{% endif %}
      </form>

    </div>
  </div>
</div>