<!DOCTYPE html>
<html lang="en">

<head>
{% include "partials/head.html" %}
</head>

<body class="index">

<section class="hero">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="hero__inner">
					<h1 class="hero__title">
					{{fields.banner_title}}
					</h1>
					<strong class="hero__subtitle">
					Now at version 0.8.0
					</strong>
					<div class="hero__description">
					{{fields.banner_description | safe}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="panel">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel__inner">
					{{fields.main_content | safe}}
				</div>
			</div>
		</div>
	</div>
</section>

</body>
</html>
