

<!-- <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500" rel="stylesheet"> -->
<link rel="stylesheet" href="/public/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css">

<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js"></script>
<script type="text/javascript">
;(function() {

	function init() {
		$('.unslider').unslider({
			autoplay: true
		});
	}

	$(window).ready(init);
})();
</script>
